            <div class="summer-author-info">
                
                    <section class="summer-post-author small-9 columns">
                        
                            <img src="{{site.url}}/images/{{ site.owner.avatar }}" class="summer-post-author-avatar" alt="{{ site.owner.name }}'s photo">
                        
                        
                            <span class="author-label">Author</span>
                            <h1>{{ site.owner.name }}</h1>
                        
                        
                            <p><a href="mailto:{{ site.owner.email }}" class="author-website">{{ site.owner.email }}</a></p>
                        
                        
                            <p>{{ site.owner.description }}</p>
                        
                    </section>
                     <div class="ad small-3 columns">
                         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- First Add -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-6327725474981395"
                             data-ad-slot="2867776460"
                             data-ad-format="rectangle"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
      
                </div>
                
            </div>
